extends layout

block content
  h1 Binevenue sur votre gestionnaire
  div
    img(src="images/Intel_Core_i5_vPro_logo.png" width="50")
    span#cont
  div#container1(style="min-width: 310px; height: 400px; margin: 0 auto")
  //div#containerr(style="min-width: 310px; height: 400px; margin: 0 auto")
  div
    div#chart_div(style="width: 500; height: 220px")
    div#chart_div_mem(style="width: 500; height: 220px")
