doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="https://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/highcharts-more.js")
    script(src="https://code.highcharts.com/modules/exporting.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="/javascripts/chart1.js")
    script(src="/javascripts/chart2.js")
    script(src="/javascripts/chart.js")


